<div>
    <app-mi-componente></app-mi-componente>
    <h1>¿Qué es Angular?</h1>
    <article>
        <p>Angular es un framework para aplicaciones web desarrollado en TypeScript, de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página.</p>
        <p>El framework es una creación de los ingenieros de Google, Misko Hevery y Adam Abrons. Google lanzó oficialmente la primera versión, AngularJS, en 2012, y la ha mantenido desde entonces.</p>
        <p>AngularJS usa la arquitectura Modelo-Vista-Controlador (MVC), que se usa en el desarrollo de aplicaciones web.</p>
    </article>
    @defer (on viewport){
        <app-comments></app-comments>
    } @placeholder {
        <p>--.</p>
    } @loading {
        <p>Cargando comentarios...</p>
    }
    
</div>



<!-- <router-outlet /> -->

